.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-size: 0.875em;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: #42b983;
    color: #fff;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #42b983;
    text-decoration: none !important;
    border-radius: 5px
}

.btn:visited {
    color: #fff;
    border-color: #42b983
}

.btn:hover {
    background-color: #fff;
    color: #42b983;
    border-color: #42b983
}

.btn-success {
    background-color: #65e892;
    color: #fff;
    border-color: #65e892
}

.btn-success:visited {
    color: #fff;
    border-color: #65e892
}

.btn-success:hover {
    background-color: #fff;
    color: #65e892;
    border-color: #65e892
}

.btn-warning {
    background-color: #F5A623;
    color: #fff;
    border-color: #F5A623
}

.btn-warning:visited {
    color: #fff;
    border-color: #F5A623
}

.btn-warning:hover {
    background-color: #fff;
    color: #F5A623;
    border-color: #F5A623
}

.btn-danger {
    background-color: #f83e4b;
    color: #fff;
    border-color: #f83e4b
}

.btn-danger:visited {
    color: #fff;
    border-color: #f83e4b
}

.btn-danger:hover {
    background-color: #fff;
    color: #f83e4b;
    border-color: #f83e4b
}

.btn-info {
    background-color: #09ABF6;
    color: #fff;
    border-color: #09ABF6
}

.btn-info:visited {
    border-color: #09ABF6;
    color: #fff
}

.btn-info:hover {
    background-color: #fff;
    color: #09ABF6;
    border-color: #09ABF6
}

.share-buttons {
    padding-top: 1em;
    border-top: 1px solid #ddd
}

.share-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.share-buttons ul li {
    display: inline-block;
    margin-right: 0.5em
}

.share-buttons ul li span {
    display: none
}

@media only screen and (min-width: 600px) {
    .share-buttons ul li span {
        display:inline;
        margin: 0.5em
    }
}

.twitter {
    background-color: #000;
    color: #fff;
    border-color: #000
}

.twitter:visited {
    color: #fff;
    border-color: #000
}

.twitter:hover {
    background-color: #fff;
    color: #000;
    border-color: #333
}

.facebook {
    background-color: #627aac;
    color: #fff;
    border-color: #627aac
}

.facebook:visited {
    color: #fff;
    border-color: #627aac
}

.facebook:hover {
    background-color: #fff;
    color: #627aac;
    border-color: #627aac
}

.google-plus:visited {
    color: #fff;
    border-color: #e36f60
}

.google-plus:hover {
    background-color: #fff;
    color: #e36f60;
    border-color: #e36f60
}

.hacker-news {
    background-color: #f60;
    color: #fff;
    border-color: #f60
}

.hacker-news:visited {
    color: #fff;
    border-color: #f60
}

.hacker-news:hover {
    background-color: #fff;
    color: #f60;
    border-color: #f60
}

.reddit {
    background-color: #FF4500;
    color: #fff;
    border-color: #FF4500
}

.reddit:visited {
    color: #fff;
    border-color: #FF4500
}

.reddit:hover {
    background-color: #fff;
    color: #FF4500;
    border-color: #FF4500
}

/*
Theme: Srcery
Description: Srcery dark color scheme for highlight.js
Author: Chen Bin <chen.bin@gmail.com>
Maintainer: @redguardtoo
Website: https://srcery-colors.github.io/
Date: 2021-04-13
*/

.hljs {
  background: #1C1B19; /* Black */
  color: #FCE8C3; /* Bright White */
}

/* Bright White */
.hljs-subst,
.hljs-quote,
.hljs-literal {
  color: #FCE8C3;
}

/* Bright Blue */
.hljs-type,
.hljs-symbol {
  color: #68A8E4;
}

/* Red */
.hljs-keyword,
.hljs-deletion {
  color: #EF2F27;
}

/* Yellow */
.hljs-name,
.hljs-function,
.hljs-attribute,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-section,
.hljs-title {
  color: #FBB829;
}

/* Cyan */
.hljs-code,
.hljs-variable,
.hljs-property,
.hljs-template-variable,
.hljs-class {
  color: #0AAEB3;
}

/* Bright Green */
.hljs-string,
.hljs-regexp,
.hljs-bullet,
.hljs-addition {
  color: #98BC37;
}

/* Bright Magenta */
.hljs-built_in,
.hljs-params {
  color: #FF5C8F;
}

/* Blue */
.hljs-template-tag,
.hljs-selector-tag {
  color: #2C78BF;
}

/* Bright Black */
.hljs-link,
.hljs-number,
.hljs-comment,
.hljs-meta {
  color: #918175;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* @see https://github.com/srcery-colors/srcery-emacs for reference */